/* 
    src/assets/css/SectionContainer.module.css
*/

@import './tokens.css';

.section {
    width: 100%;
    padding: 4rem 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
}

.aboutMeSection {
    background-color: #D9E3E5;
}