---

// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import { supabase } from "../api/supabase";

---
<Layout
	title="Luis Díaz's Portfolio - Student in Computer Science @ Tec de Monterrey Campus Guadalajara"
	description="Discover Luis Díaz's passion for technology, coding, and innovation through his projects, skills, and blog posts."
>
	<main>
		<SectionContainer>
			<Hero />
		</SectionContainer>
		<SectionContainer id="about">
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
