---

// src/pages/index.astro

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { supabase } from "../api/supabase";

const { data: socials } = await supabase
	.from("socials")
	.select("platform,url,icon_url")
	.order("order_int", { ascending: true });
---
<Layout>
	<Header socials={socials ?? []} />

	<main>
		<section id="about">
			<h1>Hi! This is Luis Díaz</h1>
			<p>CS student at Tec de Monterrey...</p>
		</section>
	</main>
</Layout>
