---
// src/components/Footer.astro
import styles from "../assets/css/Footer.module.css";
---

<footer class={styles.footer}>
    <p class={styles.copyright}>
        Built and designed by Luis Diaz
    </p>
    <p class={styles.copyright}>
        © 2025 All rights reserved
    </p>
</footer>
